<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': appareilStatus === 'Allumé',
                'list-group-item-danger': appareilStatus === 'Eteind'}">
  <h4 [ngStyle]="{color: getColor()}">Appareil : {{ appareilName }} -- Status : {{ getStatus() }}</h4>
  <button class="btn btn-success" (click)="turnOn()" *ngIf="appareilStatus === 'Eteind'">Allumer</button>
  <button class="btn btn-danger" (click)="turnOff()" *ngIf="appareilStatus === 'Allumé'">Eteindre</button>
</li><br>